.custom-controls-card {
    border-radius: 0 !important;
    width: 100% !important;
    background-color: #122738;
    padding: 16px;
}

.slider-label-container {
    color: whitesmoke !important; 
}

.slider-container {
    width: 240px !important;
}
