<mat-toolbar class="header-toolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutGap="8px">
            <div fxLayoutGap="16px" class="dot-circle" *ngFor="let dot of dots" [style.background-color]="dot"></div>
        </div>
        <div fxLayoutGap="4px" fxLayoutAlign="end center">
            <button (click)="openControlPanel()" mat-icon-button aria-label="Change Algorithm settings">
                <mat-icon class="settings-icon">view_sidebar</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>