<div class="canvas-page">
  <div *ngIf="!welcomeTab" fxFlex fxLayout="column" class="canvas-container" fxLayoutGap="32px">
    <app-visualizer-controls class="mat-elevation-z19" (stop)="stopExecution($event)" (refreshCanvas)="refresh($event)"  (start)="startExecution($event)"
      (speedUpdated)="updateSpeedData($event)" (tilesUpdated)="updateTileData($event)"></app-visualizer-controls>
    <div *ngIf="!loading && tileBars" class="canvas-tile-container mat-elevation-z12">
      <div fxFlex fxLayput="row">
        <div fxFlex fxLayout="row" fxLayoutAlign="center start" *ngFor="let tile of tileBars" class="tile-class-default bar"
          [ngStyle]="{ 'height': calculateTileHeight(tile) }">
          {{tile}}
        </div>
      </div>
      <div *ngIf="loading"> 
        <div class="loading-container" fxFlex fxLayoutAlign="center center">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="welcomeTab">
    <div class="welcome-tab">
        <h1 class="welcome-hero-text-heading">Welcome to Logic Luminary</h1>
        <p class="welcome-hero-text-oneliner">Experience the magic of sorting algorithms and more!</p>
        
        <mat-card class="features-list">
          <ul>
            <li>Witness Sorting Algorithms in Real Time</li>
            <li>Pause and Resume Execution Midway</li>
            <li>Color Highlighting for Each Step</li>
            <li>Explore a Wide Range of Sorting Algorithms</li>
            <li>Coming Soon: Search Algorithms</li>
          </ul>
        </mat-card>
      </div>
  </div>
</div>
