mat-tree {
    color: whitesmoke;
}

.control-panel-lhs-icons {
    color: #737373;
}

.active {
    color: whitesmoke !important;
}

.yellow-bg {
color: yellow !important;
}

.menu-item {
    cursor: pointer;
}